<template>
  <div class="swiper-wrap">
     <div class="button" @click="updateActive">我是btn</div>
     <div v-for="swiper in swipers" :key="swiper.id" v-if="swiper.active">
       <h1 v-text="swiper.title"></h1>
        <!-- Slider main container -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide" v-for="slider in swiper.bodySwiper" :key="swiper.id + '' + slider.content" v-text="swiper.id + '' + slider.content"></div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        </div>
    </div>    
  </div>
</template>

<script>
import Axios from "axios";
// import Swiper from "swiper";
export default {
  name: "SwiperComponent",
  props: {
    msg: String
  },
  data() {
    return {
      swipers: [],
      swiperUrl: "./data/mock/pages.json",
      mySwiper : null
    };
  },
  methods: {
    updateActive () {
      this.swipers = this.swipers.map(swiper => {
        swiper.active = !swiper.active
        return swiper
      })   
      setTimeout(() => {
        window.mySwiper = this.mySwiper = new Swiper(".swiper-container", {
            // Optional parameters
            direction: "horizontal",
            loop: true,

            speed: 400,
            autoplay: {
              delay: 2000
            },
            // If we need pagination
            pagination: {
              el: ".swiper-pagination",
              renderBullet: function(index, className) {
                return (
                  '<span class="' + className + '">' + (index + 1) + "</span>"
                );
              }
            }
          });
        // this.mySwiper.map(swiper => {
        //   console.log("running",swiper.autoplay.running)
        //   swiper.update();
        //   swiper.autoplay.run()
        // });

      }, 100)
      
    }
  },
  mounted() {
    let ths = this;
    Axios
      .get(this.swiperUrl)
      .then(response => {
        ths.swipers = response.data;
        setTimeout(() => {
        window.mySwiper = ths.mySwiper = new Swiper(".swiper-container", {
            // Optional parameters
            direction: "horizontal",
            loop: true,

            speed: 400,
            autoplay: {
              delay: 2000
            },
            // If we need pagination
            pagination: {
              el: ".swiper-pagination",
              renderBullet: function(index, className) {
                return (
                  '<span class="' + className + '">' + (index + 1) + "</span>"
                );
              }
            }
          });  
        });
      })
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.swiper-container {
  width: 600px;
  height: 300px;
}
</style>
